body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #e1e1de;
    min-height: 100vh;
    font-family: "Open Sans";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 367px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.card__header {
    min-height: 40px;
    padding: 8px;
    background: #F8F8F6;
    border-bottom: 1px solid #e1e1de;
}
.card__author {
    display: flex;
    align-items: flex-start;
    padding: 16px 8px;
    border-bottom: 1px solid #e1e1de;
}
.card__content {
    padding: 16px 8px;
}
.card__footer {
    min-height: 56px;
    padding: 8px;
    border-top: 1px solid #e1e1de;
}



.image-placeholder {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-right: 8px;
    border-radius: 4px;
    background: #e4e9e7;
}
.text-line {
    display: block;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    background: #E4E9E7;
}

/* Buttons */
.button--danke {
    position: relative;
    padding: 6px 8px;
}
.button--danke:hover {
    cursor: pointer;
}
.button--danke svg {
    fill: #799189;
}
.button--danke:hover > svg {
    fill: #575757;
}


/* Reaction popup */
.reaction-popup {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-flex;
    align-items: flex-end;
    padding: 8px;
    background: white;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.25);
    transform-origin: bottom left;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1);
    transition-delay: 0;
}
.button--danke:not(.is-active):hover .reaction-popup {
    transform: scale(0.5);
    max-width: 56px;
    bottom: calc(100% + 18px);
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.25, 0, 0.5, 1);
    transition-delay: 0.2s;
}
.button--danke.is-active .reaction-popup {
    max-width: 212px;
    bottom: calc(100% + 18px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    left: 0;
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.25, 0, 0.5, 1);
    transition-delay: 0.2s;
    opacity: 1;
}

.reaction {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #F1F4F3;
    transition: all 0.2s cubic-bezier(0, 0, 0.5, 1);
    opacity: 0;
    transform: translateY(20px);
}
/* .reaction:nth-child(1) { transition-delay: 0.2s; }
.reaction:nth-child(2) { transition-delay: 0.4s; }
.reaction:nth-child(3) { transition-delay: 0.6s; }
.reaction:nth-child(4) { transition-delay: 0.8s; } */

.button--danke.is-active .reaction-popup .reaction {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0;
}
.reaction + .reaction { margin-left: 12px; }

.reaction:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
}

.reaction svg {
    width: 60%;
    height: 60%;
    transition: all 0.2s ease-in-out;
}
.reaction--danke svg {
    fill: #B2CA06;
}
.reaction--fantastisch svg {
    fill: #EB5E65;
}
.reaction--bravo svg {
    fill: #0090A1;
}
.reaction--guteidee svg {
    fill: #EE9E2D;
}

.reaction-popup:hover .reaction {
    width: 32px;
    height: 32px;
}
/* .reaction-popup:hover .reaction svg {
    width: 20px;
    height: 20px;
} */
.reaction-popup .reaction:hover {
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.reaction-popup .reaction:active {
    margin-top: -50px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #D6DEDB;
}
/* .reaction-popup .reaction:hover svg {
    width: 40px;
    height: 40px;
} */

.reaction label {
    position: absolute;
    bottom: calc(100% + 10px);
    display: inline-block;
    padding: 2px 10px;
    background-color: rgba(97,116, 110, 0.8);
    border-radius: 12px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-weight: semibold;
    white-space: nowrap;
    opacity: 0;
}
.reaction:hover label {
    opacity: 1;
}